body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color:white;
}

/* Encabezado */
header{
    background: linear-gradient(90deg,#141e30,#243b55);
    padding:25px;
    text-align:center;
    font-size:28px;
    font-weight:bold;
    letter-spacing:2px;
    box-shadow:0 4px 10px rgba(0,0,0,0.5);
}

/* Menú */
nav{
    background:#111;
    padding:12px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#00d4ff;
    transform:scale(1.1);
}

/* Contenido */
main{
    padding:40px;
    text-align:center;
}

/* Tarjetas */
.card{
    background:rgba(255,255,255,0.08);
    padding:25px;
    border-radius:15px;
    margin:20px auto;
    width:60%;
    backdrop-filter: blur(10px);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

/* Pie de página */
footer{
    background:#0a0a0a;
    padding:15px;
    text-align:center;
    margin-top:40px;
    font-size:14px;
}
